body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #909090;
    text-align: center;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #dddddd;
}

#sketchBook {
    height: 960px;
    width: 960px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
}